* {
	margin: 0;
	padding: 0;
	text-align: center;
}

canvas {
	border: 5px solid black;
	margin: 250px;
	background-image: url("./casas/casasolo.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position-x: right; 
	height: 780px;	
	width: 1000px;
}













   